*, *::before, *::after {
	box-sizing: border-box
}
* {
	margin: 0
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0 5px;
	line-height: 1.5
}
p, h1, h2, h3 {
	overflow-wrap: break-word
}
h1, h2, h3 {
	text-wrap: balance
}
h2, h3 {
	margin-top: 2em;
	margin-bottom: 1em
}
h2, h3, h2 a, h3 a, h1 a, ul#where li a {
	color: #900
}
p {
	text-wrap: pretty
}
main {
	max-width: 40em;
	margin: 0 auto 2em auto
}
small {
	display: block;
	line-height: 2em;
	font-size: 16px
}
ul.photos li, ul#where li, ul.nophotos li {
	width: 320px;
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin: 0 10px 40px 0
}
ul.photos li h2, ul.photos li h3, ul.nophotos li h2, ul.nophotos li h3 {
	margin: 0.25em 0 0.25em 0
}
ul#where li {
	font-size: 0.8em
}
ul#where li a {
	font-size: 2em
}
blockquote {
	font-style: italic
}
main ul {
	padding: 0
}
main ul li {
	list-style-type: none;
	margin-bottom: 2em
}

