<h1>AI usage</h1>
<p>
As of today, <time datetime="2026-03-29 11:11+1100">March 29, 2026</time>, here is how I use generative AI/LLM tools.
</p>
<hr>

<p>
	I use <a href="https://openrouter.ai/">OpenRouter.ai</a> to direct my questions to any variety of LLMs.
	Usually on the command line, using the <a href="https://llm.datasette.io/en/stable/">llm</a> tool.
</p><p>
	For programming, I ask it how to do things I don’t know how to do.
	Then I use what I’ve learned in my own code.
</p><p>
	I <strong>never</strong> have it do the coding for me.
</p><p>
	I <strong>never</strong> use AI to write as me.
<strong>
	No emails.
	No sentences in my articles or books or even comments.
	Nothing pretending to be me.
</strong>
</p><p>
	I enjoy the challenge of writing myself.
	It’s organized thinking.
<strong>
	It’s the <em>doing</em> I want, not having it done.
</strong>
	See <a href="/being">my article “It’s about being, not having”</a> for more thoughts on this.
</p><p>
	While I’m writing, I often ask it the kinds of things I would ask a friend sitting next to me.
	Like, “What are examples of different ways of seeing life that are impossible to prove or disprove?”
	Or, “What professions most use a physical toolbox?”
</p><p>
	But again, the real point of this page is to let you know that <strong>nothing claiming to be written by me is written by an AI</strong>.
</p><p>
	If this changes in the future, I’ll update this page at this permanent URL:
	<a href="/ai">sive.rs/ai</a>
</p>
<hr>
<small>
This page is suggested by <a href="https://www.bydamo.la/p/ai-manifesto">Damola, here</a>.
(Check out his blog. He’s great.)
</small>
