<header>
<img src="https://m.sive.rs/images/DerekSivers-cover-AnythingYouWant-400x640.jpg" alt="book cover">
<h1>Anything You Want</h1>
<p><strong><em>40 lessons for a new kind of entrepreneur</em></strong></p>
</header>

<p class="highlight">
My tales of starting, building, and selling CD Baby, compressed into an entertaining and useful one-hour read.
</p>
  
<h3>You started a business. But why?</h3>
<p>
Entrepreneurs often lose sight of <strong>what matters</strong>. Are you helping people? Are they happy? Are you happy? Are you profitable? Isn't that enough?
</p><p>
Derek Sivers accidentally started a business by helping musicians sell their music. It became the largest online seller of independent music with over 150,000 musicians and $100M in sales. After ten years, he sold the company for $22 million and gave all the money to charity.
</p><p>
In “Anything You Want” he shares 40 powerful lessons, in a book you can read in about an hour. Points include:
</p><ul>
<li>When you make a company, you make your <strong>utopia</strong> — your perfect world.</li>
<li>Business is not about money. It’s about <strong>making dreams come true</strong> for others and for yourself.</li>
<li>Starting with <strong>no money</strong> is an advantage. You don’t need money to start helping people.</li>
<li>Your <strong>business plan is moot</strong>. You don’t know what people really want until you launch.</li>
<li>Don’t pursue business just for your own gain. Only <strong>answer the calls for help</strong>.</li>
<li>By focusing entirely on thrilling your customers - even at an occasional loss - you ultimately profit more, because of the loyalty and word-of-mouth marketing that comes only when you <strong>place your customer’s needs over your own</strong>.</li>
</ul>
<p>
The book’s most memorable stories are from his horrible mistakes, like why <strong>saving ten minutes cost him $3.3 million dollars</strong>, and how he was <strong>attacked by Steve Jobs</strong>.
</p><p>
“Anything You Want” was first published by Seth Godin in 2011, then by Penguin/Portfolio in 2015. <strong>This third edition for 2022 was improved with eight new chapters</strong>.
</p><p>
Its surprisingly <strong>humanist</strong> approach to business, focusing on <strong>generosity</strong> and happiness more than profits, has helped thousands of entrepreneurs to <strong>re-focus on what matters</strong> and find their <strong>own path</strong> to success.
</p>

<dl>
<dt><a href="https://sivers.com/">$15</a> : ebook, audiobook, and all digital formats forever</dt>
<dd><em>(epub, mobi, pdf, mp3, html, etc.)</em></dd>
<dt><a href="https://sivers.com/">$19</a> : paper book includes all digital formats</dt>
<dd><em>(really just $4 for the paper, so only $4 for each additional copy)</em></dd>
</dl>

<form action="https://sivers.com/" method="get">
<input type="submit" value="Buy now directly from me">
</form>


<small>
Print length: 83 pages
<br>
Publication date: 2022-04-04
<br>
Hardcover ISBN: 978-1-99-115238-1
<br>
Paperback ISBN: 978-1-99-115239-8
<br>
Audiobook ISBN: 978-1-99-115335-7
<br>
Kindle ISBN: 978-1-99-115333-3
</small>

<h2>Listen to the audiobook:</h2>
<audio src="https://m.sive.rs/Sivers-SAMPLE-Anything_You_Want.mp3" preload="none" controls="controls"></audio>

<h2>Highlights:</h2>

<img src="https://m.sive.rs/images/AnythingYouWant-quote-custserv.png"><br>
<img src="https://m.sive.rs/images/AnythingYouWant-quote-expand.png"><br>
<img src="https://m.sive.rs/images/AnythingYouWant-quote-generosity.png"><br>
<img src="https://m.sive.rs/images/AnythingYouWant-quote-pushing.png"><br>
<img src="https://m.sive.rs/images/AnythingYouWant-quote-revolution.png"><br>
<img src="https://m.sive.rs/images/AnythingYouWant-quote-taxi.png"><br>


<h2>Editorial Reviews</h2>

<p>“Anything You Want is a business book like no other. Derek Sivers built a business a different way, a human way. He did it with no investment and a series of apparently crazy principles. And they work. They worked for him and they might work for you. A brilliant book.”<br>
<small> — <a href="https://seths.blog/2015/09/the-patina-of-books-and-the-magic-thrill-of-a-new-idea/">Seth Godin</a>, author of This Is Marketing</small></p>

<p>“I love this book! Derek is the entrepreneur’s entrepreneur. Just as important, perhaps more so: he is a phenomenal teacher. Whether detailing the fascinating rise of CD Baby, explaining catastrophic (but common) founder mistakes, or teaching me about relational databases in two minutes using analogies, he makes the complex simple. Moreover, he makes it all actionable. If you want a true manifesto, a guidebook with clear signposts, and a fun ride you’ll return to again and again, you have it here in this book. I hope you enjoy it as much as I did.”<br>
<small> ― <a href="https://tim.blog/2012/05/31/the-most-successful-e-mail-i-ever-wrote/">Tim Ferriss</a>, author of The 4-Hour Workweek</small></p>

<p>“One of the last music business folk heroes. Derek Sivers is changing the way music is bought and sold.”<br>
<small> — Esquire magazine</small></p>


<hr>

<img src="https://m.sive.rs/images/DerekSivers-hardcover-AnythingYouWant-400x604.png" alt="hardcover Anything You Want" title="cover of the book Anything You Want by Derek Sivers">

<h2>Contents:</h2>
<ol>
<li><a href="/ayw1">Ten years of experience in one hour</a></li>
<li><a href="/ayw2">What’s your compass?</a></li>
<li><a href="/ayw3">Just selling my CD</a></li>
<li><a href="/ayw4">Make a dream come true</a></li>
<li><a href="/ayw5">A business model with only two numbers</a></li>
<li><a href="/ayw6">This ain’t no revolution</a></li>
<li><a href="/hitswitch">If it’s not a hit, switch</a></li>
<li><a href="/hellyeah">No “yes.” Either “HELL YEAH!” or “no.”</a></li>
<li><a href="/changeplan">Just like that, my plan completely changed</a></li>
<li><a href="/nofund">The advantage of no funding</a></li>
<li><a href="/startnow">Start now. No funding needed.</a></li>
<li><a href="/sharing">The co-op business model: share whatever you’ve got</a></li>
<li><a href="/multiply">Ideas are just a multiplier of execution</a></li>
<li><a href="/formalities">Formalities play on fear. Bravely refuse.</a></li>
<li><a href="/blc">The strength of many little customers</a></li>
<li><a href="/exclude2">Proudly exclude people</a></li>
<li><a href="/noads">Why no advertising?</a></li>
<li><a href="/1pct">And if only 1% of those people…</a></li>
<li><a href="/more-than-one">This is just one of many options</a></li>
<li><a href="/noplan">You don’t need a plan or a vision</a></li>
<li><a href="/grade">How do you grade yourself?</a></li>
<li><a href="/the-mob">I miss the mob</a></li>
<li><a href="/afford">You can afford to be generous</a></li>
<li><a href="/caremore">Care about your customers more than about yourself</a></li>
<li><a href="/dontneed">Like you don’t need the money</a></li>
<li><a href="/cs1">Customer service is everything</a></li>
<li><a href="/cs2">Every interaction is your moment to shine</a></li>
<li><a href="/cs3">Lose every fight</a></li>
<li><a href="/punish">Don’t punish everyone for one person’s mistake</a></li>
<li><a href="/real">A real person, a lot like you</a></li>
<li><a href="/unclear">You should feel pain when unclear</a></li>
<li><a href="/cdbe">The most successful email I ever wrote</a></li>
<li><a href="/cdbf">Little things make all the difference</a></li>
<li><a href="/delegate">Delegate or die: the self-employed trap.</a></li>
<li><a href="/casual">It’s OK to be casual</a></li>
<li><a href="/nq">Naïve Quitting</a></li>
<li><a href="/2c">Don’t add your two cents</a></li>
<li><a href="/double">Prepare to double</a></li>
<li><a href="/being">It’s about being, not having</a></li>
<li><a href="/itunes">The day Steve Jobs dissed me in a keynote</a></li>
<li><a href="/mistake">My $3.3M mistake</a></li>
<li><a href="/ayw7">Make it anything you want</a></li>
<li><a href="/trustbut">Trust, but verify</a></li>
<li><a href="/abdicate">Delegate, but don’t abdicate</a></li>
<li><a href="/done">How I knew I was done with my company</a></li>
<li><a href="/trust">Why I gave my company to charity</a></li>
<li><a href="/laboratory">Why you need your own company</a></li>
<li><a href="/ayw8">You make your perfect world</a></li>
</ol>

<dl>
<dt><a href="https://sivers.com/">$15</a> : ebook, audiobook, and all digital formats forever</dt>
<dd><em>(epub, mobi, pdf, mp3, html, etc.)</em></dd>
<dt><a href="https://sivers.com/">$19</a> : paper book includes all digital formats</dt>
<dd><em>(really just $4 for the paper, so only $4 for each additional copy)</em></dd>
</dl>

<form action="https://sivers.com/" method="get">
<input type="submit" value="Buy now directly from me">
</form>

