<article>
<header>
<h1>
	About:
</h1>
<p>
	This is just one big page where I can write all about myself, without feeling the need for it to be <a href="/useless">useful</a>.
</p><p>
	And some day this site will be all that’s left of me, so I might as well write my own mini autobiography.
</p><p>
	Last updated: 2026-02-20
</p>
</header>

<h2>
	Time line for context:
</h2>
<ul><li>
	1969: born in Berkeley, California
</li><li>
	1971: moved to Chicago
</li><li>
	1973: moved to Menlo Park, California
</li><li>
	1975: moved to Abingdon, England
</li><li>
	1976: moved to Hinsdale, Illinois
</li><li>
	1977: started playing piano, viola, and clarinet
</li><li>
	1979: got a <a href="https://en.wikipedia.org/wiki/TRS-80">TRS-80</a> computer and dove deep into programming in <a href="https://en.wikipedia.org/wiki/BASIC">BASIC</a>
</li><li>
	1983: started playing guitar, decided I wanted to be a successful musician
</li><li>
	1987: moved to Boston for Berklee College of Music
</li><li>
	1988: joined a circus, as ringleader/MC musician
</li><li>
	1990: graduated college, moved to New York City, got a job at Warner/Chappell Music
</li><li>
	1992: quit my job, and toured Japan as <a href="/sakamoto">Ryuichi Sakamoto’s guitarist</a>
</li><li>
	1993: lived alone on the <a href="/232">Oregon coast</a> for 7 months, writing and recording music full-time, in a town with a population of 2
</li><li>
	1994: played around New York and universities with my band “<a href="/music">Hit Me</a>”, and <a href="http://professionalpests.com/">the Professional Pests</a>
</li><li>
	1995: started a record label, booking agency, and recording studio
</li><li>
	1996: recorded and released <a href="/music">my album</a>
</li><li>
	1997: moved to Woodstock NY, started <a href="https://www.cdbaby.com/">CD Baby</a>
</li><li>
	1998: quit the circus, after 10 years and about 1000 shows
</li><li>
	1999: started <a href="https://www.hostbaby.com/">HostBaby</a>
</li><li>
	2000: moved to Portland, Oregon
</li><li>
	2002: moved to Santa Monica, California, focused 100% on CD Baby and HostBaby
</li><li>
	2007: <a href="/loss">rough year</a>, moved to London, decided to quit my company
</li><li>
	2008: moved to San Francisco, <a href="/done">sold CD Baby and HostBaby</a>
</li><li>
	2009: moved to New York City, started <a href="/blog">writing</a> and <a href="/presentations">speaking</a> more
</li><li>
	2010: <a href="https://www.ted.com/speakers/derek_sivers">spoke at TED</a> three times in a year, moved to Singapore
</li><li>
	2011: published “<a href="/a">Anything You Want</a>” book about my CD Baby days, started <a href="https://woodegg.com/">Wood Egg</a>
</li><li>
	2012: had a baby
</li><li>
	2013: moved to New Zealand to <a href="/pa">raise him in nature</a> and be a mostly-full-time dad
</li><li>
	2014 to 2018: sabbatical, but <a href="/faq">answered 92,354 emails from 33,776 people</a>
</li><li>
	2017: started writing “<a href="/h">How to Live</a>”
</li><li>
	2019: moved to Oxford, England
</li><li>
	2020: moved back to New Zealand, released “<a href="/m">Your Music and People</a>” and “<a href="/n">Hell Yeah or No</a>”
</li><li>
	2021: finished and released my masterpiece: “<a href="/h">How to Live</a>”
</li><li>
	2023: writing, travelling, <a href="/met">meeting people</a>
</li><li>
	2024: published “<a href="/u">Useful Not True</a>”
</li><li>
	2025: China travels, <a href="/met">meeting people</a>, moved into a cabin (I designed) in the woods in New Zealand
</li></ul>


<h2>
	I’m ambitiously focused on creating
</h2>
<p>
	More than anything, I want to make articles, books, websites, music, companies, systems, apps, and especially new ideas.
</p><p>
	This shapes most of my life decisions.
	Saying no to almost everything, so I can have lots of time for making.
</p><p>
	At the age of 14, I decided I wanted to be a successful musician.
	Knowing it’s something that millions want, but only one-in-a-million achieve, I knew I’d have to be fiercely focused, persistent, savvy, and work like an Olympic athlete in training.
	In other words: <strong>intense, not casual</strong>.
</p><p>
	I was single-focused obsessed with being a successful musician from age 14 to 29 — crucial years when many of my friends were feeling lost.
	It had me waking up early to practice, staying up late to write, saying no to all distractions, and reading whatever I could to improve.
	Then, at age 29, I <a href="/a">accidentally started a company</a>, so I was narrow-focused on creating that for 10 years, through the age of 39.
</p><p>
	I also want to <strong>learn</strong> lots of stuff, especially different approaches to thinking and living.
	That’s why I read so much non-fiction, and want to keep moving around the world.
</p><p>
	I connect with those who stretch, strive, and grow.
	I can’t relate to those who chill, hang out, watch TV, party, etc.
</p><p>
<strong>
	I’ve optimized my life for creating and learning.
</strong>
	I’ve cut out most things from my life that most normal people do — (like hanging out or media consumption) — in pursuit of my bigger goal.
</p>


<h2>
	My life philosophy
</h2>
<p>
	I’ve always had an uncommon approach to life, mostly shaped by my ambition.
	But when I read <a href="/book/StoicJoy">a book on Stoicism</a> I realized I wasn’t so unique.
	My own self-created philosophy lined up almost exactly with this ancient philosophy.
	Especially the point about strengthening yourself for a more difficult future.
</p><p>
	But I’m also very skeptical, and was surprised to find <a href="https://en.wikipedia.org/wiki/Skepticism">that’s also a philosophy</a>.
	Meaning: <strong>for almost anything on this page, the <a href="/opposite">opposite may also be true</a>. 
	I don’t trust what I tell myself.</strong>
	It’s not a lie — it’s my truth at the time.
	But an opposite point of view can replace it when I shift my perspective.
	(I sometimes do this intentionally: do the opposite of my beliefs, just for a different perspective.)
</p><p>
	So, actually, the book that best contains my life philosophy is “<a href="/h">How to Live</a>”.
	The title is ironic.
	It doesn’t tell you how to live.
	<a href="https://sivers.com/">Buy one from me and you’ll see</a>.
</p>


<h2>
	I don’t work for money
</h2>
<p>
	Some might say I’m retired, because I haven’t earned (hardly) any money since 2008.
</p><p>
	And in some sense it’s true:
	I don’t want any more money than I’ve already got.
	And I don’t want more fame, recognition, or anything external.
</p><p>
	So in that sense, I’m done.
	Retired.
	No longer working for money.
</p><p>
	Now my ambitions are entirely intrinsic and intellectual.
	I work as hard as ever, but just for my own learning, creating, and giving.
</p>


<h2>
	I love to work alone 12+ hours a day
</h2>
<p>
	I <em>love</em> days where I just work uninterrupted from 6am to 10pm, stopping just for a little exercise.
	These are my favorite days, and always have been.
	The more of these 16-hour workdays I have, the happier I am.
</p><p>
	I use the term “work”, because it’s more understood, but really it’s “me time” — doing what I love.
<strong>
	Writing, learning, improving, and creating.
</strong>
	Whether it’s creating music, websites, books, or companies, it’s all just creating.
</p><p>
	The word “workaholic” would apply, except it’s play, not work.
	It’s completely intrinsic — just following my own interests.
	I’ve found what I love, and do it as much as possible.
</p><p>
	I prefer this as a solo pursuit.
	Being around other people drains me, and I don’t want to compromise this side of my life.
	It’s a very personal pursuit.
	It’s not business — it’s more like art.
	The rewards are internal.
</p><p>
	Nobody gives a novelist shit for writing alone.
	But an entrepreneur, programmer, or musician is expected to collaborate.
	I disagree, for me.
	I prefer the life of a novelist, whether I’m writing code, music, or systems.
</p><p>
	Long-term, 12 hours a day works best for me, about 6 days a week.
	It’s good to break the gravity one day a week, and force myself to do something else.
	I resist it at first, but appreciate it afterwards.
</p><p>
	Besides my “work”, I write in my journal up to three hours a day.
	Reflecting, daydreaming, planning.
	Asking myself questions, and trying different answers.
	It feels like all my learning happens here.
</p>




<h2>
	California forged me
</h2>
<p>
	I left America in 2010, at age 40, and will probably never come back.
	I feel very disconnected from America.
</p><p>
	But in the worldwide spectrum of cultural norms, I’m still somewhat Californian.
	Meaning:
</p>
<ul><li>
	very individualist
</li><li>
	live-to-work
</li><li>
	nomadic with weak family ties
</li><li>
	averse to traditions
</li><li>
	my meals usually last just a few minutes
</li><li>
	quick to open up emotionally
</li><li>
	seeking new ideas and people
</li><li>
	always smiling and finding the bright side ☺
</li></ul>


<h2>
	I’m an expat / world citizen
</h2>
<p>
	The first six years of my life, we moved to a new distant place every year.
	(It was for my dad’s work.)
	This felt normal to me, so I remember how sad it was when it stopped.
	When I was six, we moved to Chicago, and I asked my mom how long we would stay.
	She said, “Maybe 5-10 years. Maybe the rest of your life.”
	I started sobbing.
</p><p>
	That was the saddest thought to me: to stop moving.
	Still is.
</p><p>
	I bounced around America for my first 40 years, moving every year or two.
	Berkeley, Chicago, Boston, New York, Woodstock, Portland, Santa Monica, San Francisco.
	Then I realized I was like a fly in a jar.
	It was time to open the lid, and explore the rest of the world.
	I had spent the first 40 years of my life in America, so I wanted to spend the next 40 out.
</p><p>
	My original mission was to live all around the world, everywhere for 6-12 months each, for the next 40 years.
	I wanted to get embedded into each place until it felt like home, then move and do it again.
	But as soon as it began, I had a kid with someone who didn’t like that plan, so plans changed.
</p><p>
	Instead, I’ve been spending a few years in places — becoming a legal resident or citizen of Singapore, India, Belgium, New Zealand, England, and Portugal.
	Each one feels like home, in a way.
	I’d love to slowly expand my sense of home until it covers the corners of all continents.
</p><p>
	My kid feels this is normal, as I did.
</p><p>
	No matter how much I feel “I love it here! I want to stay forever!”, <a href="/arv">my actions prove</a> that <strong>I love moving every year or two</strong>.
	I should never buy a house.
</p>


<h2>
	I prefer talking on the phone to hanging in person
</h2>
<p>
	I might sound like a total recluse by now, but I’m not.
	Most people who meet me think I’m a total extrovert, because I’m a real conversationalist, and absolutely love talking one-on-one.
</p><p>
	But I have a social window of about 2-3 hours.
	After that I’m drained, and want to be alone again.
	Because of this, I’m not into hanging out all day or night, just passing time.
</p><p>
	Phone calls seem to be more focused.
	More ideas per hour.
	A better use of time.
	You’re undistracted by surroundings, and focus on the quality of the conversation.
	And when the conversation dwindles, you say goodbye and talk again another day.
</p><p>
	Also, I love voices.
	Some people need to look into someone’s eyes to know them well.
	Not me.
	For me, it’s all about the voice.
</p><p>
	Two of my best friends right now, I’ve never seen in-person.
	One lives in Hong Kong.
	One lives in Lithuania.
	We’ve been talking on the phone for years, but never met in-person.
	We don’t even video-chat.
	Just voice.
	That’s all I need.
	(Because of this, I loved the movie “<a href="https://www.imdb.com/title/tt1798709/">Her</a>”.)
</p><p>
	As usual, <a href="/pa">my kid</a> is the exception to this rule.
	He and I hang out about 30 hours a week, and will putter in one place for six hours at a time.
	But that’s a different thing.
</p>


<h2>
	I’m a minimalist
</h2>
<p>
	I hate waste.
	I don’t like the feeling of having more than I need.
	It feels like clutter.
	People who visit my home are shocked by what it doesn’t have.
</p><p>
	It also applies to tech: removing every line of website code that isn’t necessary, and hand-writing a site with no framework or libraries.
</p><p>
	And it applies to my writing: spending 12 hours writing an article, saying everything on my mind, then editing it down to the few words that are really needed.
</p>


<h2>
	I’m <a href="/ti">tech-independent</a>
</h2>
<p>
	I got online in 1994, so I watched many companies — companies that people were completely dependent on — go out of business, and watched everyone’s uploaded stuff just disappear.
</p><p>
	So I don’t trust companies, I avoid the cloud, and run everything myself on my own server.
</p><p>
	I don’t depend on tech that’s not truly open source and non-profit, because otherwise I don’t trust that their long-term incentives are aligned with mine.
</p><p>
	My main tools are the <a href="https://www.vim.org/">Vim</a> text editor, <a href="/openbsd">OpenBSD</a> operating system, <a href="/pg">PostgreSQL</a> database, <a href="https://www.ruby-lang.org/en/">Ruby</a> language, and <a href="https://www.mozilla.org/">Firefox</a> browser.
</p><p>
	I tend to avoid my phone, in general.
	I just use it for calling friends, or for GPS.
	No email.
	No social media.
	It sits in airplane mode much of the time, then I completely power it off an hour before bed, and turn it back on after I’m done writing in the morning.
</p><p>
	All of my current creative and learning goals can be achieved with these existing tools, so I avoid that time-sinking habit of looking for new ones.
</p>


<h2>
	Friends and family
</h2>
<p>
	I don’t hate but don’t love my family.
	They’re fine.
	I just never felt that close to them, even as a little kid.
</p><p>
	I don’t subscribe to that “blood is thicker than water” metaphor.
	I feel pretty equally connected to everyone.
	(<a href="https://waitbutwhy.com/2014/01/your-family-past-present-and-future.html">We’re all cousins</a>, anyway.)
	I don’t feel more bound or obligated to my immediate family than I do to strangers.
	In fact, because of my ambitious exploring nature, I’d rather focus on the unknown, and push further out into the world.
</p><p>
	I make friends easily.
	They come and go based on life circumstances.
	Proximity and interests spark friendships, but proximity and interests change.
	Best friends become old distant friends.
	New friends become best friends.
	Some people get married and stop calling.
	Some people get divorced and re-appear.
	I still <a href="/friends">love them all</a>, whether we talk or not.
</p><p>
	I’m <a href="/pa">very attached to my kid</a>, but I don’t expect him to be attached to me.
	I don’t want him to feel more tied to some people than others.
	I hope he ventures out into the world, makes new bonds, and feels no obligation to me.
	He doesn’t owe me anything.
	His life is his own.
	He didn’t ask to be born, and has no debts.
</p>


<h2>
	30+ hours a week with my boy
</h2>
<p>
	Since he was born, 14 years ago, I’ve spent at least 30 hours per week giving my son my full undivided attention.
	That means over 21,000 hours so far.
	No devices.
	No other people.
	Just me and him, with him leading the way.
</p><p>
	My friend pointed out this is very unusual, so I guess it’s a defining thing worth mentioning here.
	It’s the circumstances of him being an only child, me being a single parent and technically retired.
</p><p>
	I’ve never been this close with anyone, or spent this much time with any other person in my life.
	We talk talk talk so openly about everything, and do everything together.
	He’s definitely the love of my life.
</p>


<h2>
	Music
</h2>
<p>
	I don’t like live music.
	(I know that is a very despicable opinion.)
	I love great recordings.
</p><p>
	Like my preference for one-on-one conversations, my relationship to a piece of music is personal — it’s between me and the music.
	I don’t want to have a bunch of other people around, and don’t want to be distracted with other things when listening.
	Ideally, instead of a one-to-one relationship between listener and musician, it would be one-to-zero, where I can’t even know who the musician is.
	Then I could focus just on the music itself, and not be distracted by any personal information about the musician.
</p><p>
	Most of my interest in music has been as a music-maker.
	I’m fluent in that language.
	I graduated from Berklee College of Music.
	I know almost too much music theory.
	I ran a recording studio for 12 years, and produced and engineered hundreds of recordings, often playing all the instruments myself.
	When listening to a piece of music, I’m usually too analytical. 
	If you play something for me and ask, “What do you think?”, I’m almost always thinking about what I would have done differently if I had written it.
</p><p>
	I’m not bragging about this.
	It kinda sucks.
	It makes me incompatible with most music situations.
</p><p>
<strong>
	So what <em>do</em> I like?
</strong>
</p><ul><li>
<strong>
	Innovative arrangements.
</strong>
	I love a unique combination and intersection of instruments.
	New sounds I’ve never heard before.
	It’s hard to listen to yet another guitar-bass-drums rock band.
	I need more creativity than that.
</li><li>
<strong>
	Song craft.
</strong>
	I admire it like a carpenter admires a well-made table.
	I worked hard for <a href="/music">15 years</a> to write the best songs I could, trying to learn everything about that craft, and so appreciate a good one.
</li><li>
<strong>
	Great recordings,
</strong>
	for the same reason.
	After years recording music, I so appreciate something well-produced and well-engineered.
</li><li>
<strong>
	New ideas.
</strong>
	I’m unimpressed by emoting, because emotions are not impressive.
	I’ve heard all the regular wailing with the same-old palette of sounds and words.
	I have to be hit with a new idea, a new angle, to be interested.
</li></ul>


<h2>
	More about me:
</h2>
<ul><li>
<strong>
	I single-task.
</strong>
	I’m into only one thing at a time, focusing on it to completion, whether that takes hours, months, or even years.
	I’ve always been like this, even as a little kid.
</li><li>
<strong>
	I think very long-term and future-focused.
</strong>
	Even as a teenager, when friends would tease me for not having tattoos or piercings, I never got them because my first thought is, “Will I want that when I’m 80?”
	If not, then why do it?
	My present life is in service of my future self.
	I tend to do things for my future, not my present.
</li><li>
<strong>
	I like women.
</strong>
	Almost all of my best friends are women.
	<a href="/mw">Gender stereotypes</a> bristle me.
</li><li>
<strong>
	I’m wary of anything that feels like addiction.
</strong>
	Whether drinking, phone/internet use, playing games, or whatever — if people tend to get an unhealthy addiction to it, I avoid it.
</li><li>
<strong>
	I care deeply about very little.
</strong>
	I’m committed to just a few people and a few interests.
	Everything else, I keep away.
	(See “<a href="/hellyeah">hell yeah or no</a>”.)
	It’s a simple and sincere life.
</li><li>
<strong>
	I walk away — to a fault.
</strong>
	I’m not a fighter.
	When something’s not to my liking — or if something gets too confrontational or antagonistic — I just leave.
	Since I’m happy being alone, the bar is set really high to make me engage with a person or situation that I’m not enjoying.
</li><li>
<strong>
	I’m deliberate.
</strong>
	I don’t believe in the “I can’t help the way I am” approach to life.
	Only dead fish go with the flow.
	I change who I am to get what I want, instead of the other way around.
</li><li>
<strong>
	I hate noise.
</strong>
	I’m always seeking silence.
	I don’t like crowds, cities, bars, parties, streets, etc.
	I damaged my hearing at a concert when I was 13, with a loud ringing ever since, so I don’t know if it’s due to that or not, but in a crowd I can’t pick out one voice from another.
	So meeting people in noisy places is pointless, since I can’t understand what anyone is saying.
	It’s another reason I prefer quiet one-on-one conversations.
	And I prefer to go to the gym late at night, after they close, so I can work out in silence.
</li><li>
<strong>
	I hate to waste a single hour.
</strong>
	I feel the precious value of time, most of the time.
	I imagine my time as worth $1000 an hour, and ask myself what’s worth $1000.
	Watching a TV show?  Absolutely not.
	(“Game of Thrones” was 70 hours, so would have cost $70,000 to watch.)
	Social media?  Absolutely not.
	Focused learning or creating?  Yep!
	Being with my kid?  Always.
</li></ul>


<h2>
	Questions? Thoughts?
</h2>
<p>
	No comments here.
	That would be too weird.
	This is too personal.
	Just <a href="/contact">email me</a>.
</p>
</article>

