<h1>contact me</h1>

<p>I reply to every email, and I enjoy it. ☺</p>

<form action="/contact" method="post" id="contact">

<label for="name">your full <strong>name</strong></label>
<input type="text" name="name" id="name" autocomplete="name" required>

<label for="email">your <strong>email</strong> address</label>
<input type="email" name="email" id="email" autocomplete="email" required>

<input id="url" type="url" name="url" autocomplete="off">

<label for="country">your <strong>country</strong> <span id="maybeflag"></span></label>
<select id="country" name="country" required><option value="">...</option>
{{#countries}}<option value="{{code}}"{{selected}}>{{name}}</option>{{/countries}}
</select>

<label for="city">nearest <strong>city</strong></label>
<input name="city" value="{{city}}" required>

<label for="state"><strong>state</strong></label>
<div id="maybestate"><input id="state" placeholder="state" name="state" value="{{state}}"></div>

<label for="sivers">prove you are human: type <strong>my last name</strong> (shown above)</label>
<input type="text" id="sivers" name="sivers" required>

<input type="submit" value="email me">
</form>

<script>
const states = {{{states}}};

function showstate(country, state) {
	const div = document.getElementById('maybestate');
	if(states[country]) {
		let html = '<select id="state" name="state" required><option value=""> … </option>';
		for (let state of states[country]) {
			html += '<option value="' + state['code'] + '"' + state['selected'] + '>';
			html += state['name'] + '</option>';
		}
		html += '</select>';
		div.innerHTML = html;
	} else {
		div.innerHTML = '<input id="state" placeholder="state" name="state" value="{{state}}">';
	}
}

function showflag(country) {
	const div = document.getElementById('maybeflag');
	if(/^[A-Z]{2}$/.test(country)) {
		div.innerHTML = '<img src="https://m.sive.rs/images/flags/' + country + '.png" width="48" height="48">';
	} else {
		div.innerHTML = '<img src="https://m.sive.rs/images/flags/XX.png" width="48" height="48">';
	}
}

showflag('{{country}}');
showstate('{{country}}', '{{state}}');

document.getElementById('country').onchange = (event) => {
	showflag(event.target.value);
	showstate(event.target.value, '{{state}}');
};
</script>
