<h1>RSS feeds</h1>

<h2>articles</h2>
<p>My “best-of”: my very edited, curated, best words.</p>
<dl>
<dt>web</dt>
<dd><a href="/blog">sive.rs/blog</a></dd>
<dt>feed</dt>
<dd><a href="/articles.xml">sive.rs/articles.xml</a></dd>
</dl>

<h2>podcast</h2>
<p>Same as articles, but audio, read by me.</p>
<dl>
<dt>web</dt>
<dd><a href="/podcast">sive.rs/podcast</a></dd>
<dt>feed</dt>
<dd><a href="/podcast.rss">sive.rs/podcast.rss</a></dd>
</dl>

<h2>interviews</h2>
<p>Where I’m the guest on other people’s podcasts.</p>
<dl>
<dt>web</dt>
<dd><a href="/i">sive.rs/i</a></dd>
<dt>feed</dt>
<dd><a href="/i.xml">sive.rs/i.xml</a></dd>
</dl>

<h2>book notes</h2>
<p>Notes from books I’ve read.</p>
<dl>
<dt>web</dt>
<dd><a href="/book">sive.rs/book</a></dd>
<dt>feed</dt>
<dd><a href="/book.xml">sive.rs/book.xml</a></dd>
</dl>

