<h1>My Feeds / Streams</h1>

<p class="small">
(This is <a href="https://marcus.io/blog/making-rss-more-visible-again-with-slash-feeds">a /feeds page</a>, and if you have your own site, <a href="https://marcus.io/blog/making-rss-more-visible-again-with-slash-feeds">consider making one</a>, too.)
</p>

<h2>RSS</h2>
<ul>
<li><a href="/en.atom">Blog articles</a></li>
<li><a href="/podcast.rss">Podcast</a></li>
</ul>

<h2>Future: (TO-DO)</h2>
<ul>
<li><a href="/tweets">Tweets</a></li>
<li><a href="/book">Books I’ve read</a></li>
<li>A stream of <a href="/now">my /now updates</a>?</li>
<li>People I’ve met?</li>
<li>Questions answered?</li>
</ul>

<p>
I’ve been meaning to stream/RSS more of my content.
If you have suggestions or requests, <a href="/contact">contact me</a>.
</p>

<hr>
<p>
Updated October 31st, 2020, from Wellington, New Zealand.
</p>
