<h1>Foreign publishers of my books:</h1>

<h2>Albanian</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a> and <a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Minerva Publishing, David Hudhri</td>
</tr>
<tr>
<td>editions:</td>
<td>paperback</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>co-agent:</td>
<td><a href="https://liviastoiaagency.ro/">Livia Stoia</a></td>
</tr>
<tr>
<td>validity:</td>
<td>2026-06-05</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-12-05</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.vizionojf.org/">Vizion O.J.F</a></td>
</tr>
</table>

<h2>Arabic</h2>
<table>
<tr>
<td>book:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Jarir Bookstore</td>
</tr>
<tr>
<td>validity:</td>
<td>2023-02-02</td>
</tr>
<tr>
<td>note:</td>
<td>via <a href="https://www.penguinrandomhouse.com/">Penguin</a></td>
</tr>
</table>

<h2>Brazilian Portuguese</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.buzzeditora.com/">Buzz Editora</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, ebook, audiobook</td>
</tr>
<tr>
<td>territory:</td>
<td>Brazil, East Timor, and non-exclusive rights for the rest of the world, excluding Portugal, Angola, Cape Verde, Guinea-Bissau, Mozambique and São Tomé and Príncipe.</td>
</tr>
<tr>
<td>co-agent:</td>
<td><a href="https://lvbco.com.br/">Villas-Boas & Moss</a></td>
</tr>
<tr>
<td>validity:</td>
<td>2029-05-10</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-05-10</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://gerandofalcoes.com/">Rede Gerando Falcões</a></td>
</tr>
</table>

<h2>Chinese</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.lanshizi.com/">Hangzhou Blue Lion Cultural &amp; Creative Co</a></td>
</tr>
<tr>
<td>editions:</td>
<td>hardcover, paperback, electronic</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>co-agent:</td>
<td><a href="https://en.ca-link.cn/">CA-LINK International</a></td>
</tr>
<tr>
<td>validity:</td>
<td>2027-07-07</td>
</tr>
<tr>
<td>pub term:</td>
<td>2024-01-07</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="http://www.hhax.org/">韩红爱心慈善基金会 / Han Hong Love Charity Foundation</a></td>
</tr>
</table>

<h2>Estonian</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/n">Hell Yeah or No</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://pegasus.ee/">Kirjastus Pegasus</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, ebook, audiobook</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>co-agent:</td>
<td><a href="https://liviastoiaagency.ro/">Livia Stoia</a></td>
</tr>
<tr>
<td>validity:</td>
<td>2027-05-09</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-05-09</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://heategu.ee/en">Good Deed Foundation</a></td>
</tr>
</table>

<h2>Farsi</h2>
<table>
<tr>
<td>book:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Pango’an e Abi</td>
</tr>
<tr>
<td>validity:</td>
<td>2023-09-10</td>
</tr>
<tr>
<td>note:</td>
<td>via <a href="https://www.penguinrandomhouse.com/">Penguin</a></td>
</tr>
</table>

<h2>French</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a> and <a href="/n">Hell Yeah or No</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.editions-dangles.fr/">Piktos</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>validity:</td>
<td>2029-07-05</td>
</tr>
<tr>
<td>pub term:</td>
<td>2024-01-05</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.restosducoeur.org/">Les Restos du Cœur</a></td>
</tr>
</table>
<p>
<table>
<tr>
<td>books:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.editionsleduc.com/">Leduc / Alisio</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, ebook</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>validity:</td>
<td>2029-07-14</td>
</tr>
<tr>
<td>pub term:</td>
<td>2024-01-14</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.restosducoeur.org/">Les Restos du Cœur</a></td>
</tr>
</table>
<p>
<table>
<tr>
<td>books:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://fr.usembassy.gov/fr/ars-paris-fr/livres/nh/">Nouveaux Horizons</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, ebook through YouScribe e-library</td>
</tr>
<tr>
<td>territory:</td>
<td>Francophone Africa, Maghreb included, and Haiti</td>
</tr>
<tr>
<td>validity:</td>
<td>+ 7 years</td>
</tr>
<tr>
<td>pub term:</td>
<td>+ 18 months</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.givewell.org/">GiveWell</a></td>
</tr>
</table>


<h2>German</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/n">Hell Yeah or No</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.m-vg.de/">FinanzBuch Verlag</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, hardcover, ebook, audiobook</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>validity:</td>
<td>2029-05-06</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-11-06</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.tafel.de/">Die Tafel</a></td>
</tr>
</table>


<h2>Italian</h2>
<table>
<tr>
<td>book:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Roi Edizioni</td>
</tr>
<tr>
<td>validity:</td>
<td>2023-04-11</td>
</tr>
<tr>
<td>note:</td>
<td>via <a href="https://www.penguinrandomhouse.com/">Penguin</a></td>
</tr>
</table>



<h2>Korean</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="http://www.businessbooks.co.kr/businessbooks/common/introduce_eng.asp">Business Books</a></td>
</tr>
<tr>
<td>editions:</td>
<td>hardcover, ebook</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<tr>
<td>co-agent:</td>
<td>LENA Agency</td>
</tr>
<tr>
<td>validity:</td>
<td>2029-07-01</td>
</tr>
<tr>
<td>pub term:</td>
<td>2024-01-01</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://jts.or.kr/">JTS</a></td>
</tr>
</table>

<h2>Portuguese</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a> and <a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.portoeditora.pt/">Porto Editora</a></td>
</tr>
<tr>
<td>editions:</td>
<td>paperback, ebook, audiobook</td>
</tr>
<tr>
<td>territory:</td>
<td>Portugal, Angola, Cape Verde, Guinea-Bissau, Mozambique, and São Tomé and Príncipe. (excluding Brazil)</td>
</tr>
<tr>
<td>validity:</td>
<td>2029-06-03</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-12-06</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://re-food.org/en/home/">REFOOD</a></td>
</tr>
</table>

<h2>Slovak</h2>
<table>
<tr>
<td>book:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Bajkal</td>
</tr>
<tr>
<td>validity:</td>
<td>2024-09-10</td>
</tr>
<tr>
<td>note:</td>
<td>via <a href="https://www.penguinrandomhouse.com/">Penguin</a></td>
</tr>
</table>


<h2>Spanish</h2>
<table>
<tr>
<td>books:</td>
<td><a href="/h">How to Live</a> and <a href="/n">Hell Yeah or No</a> and <a href="/m">Your Music and People</a> and <a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td><a href="https://www.edicionesurano.com/derek-sivers-obras-completas-o-casi">Urano</a></td>
</tr>
<tr>
<tr>
<td>editions:</td>
<td>paperback, ebook, audiobook</td>
</tr>
<tr>
<td>territory:</td>
<td>worldwide</td>
</tr>
<td>validity:</td>
<td>2029-08-22</td>
</tr>
<tr>
<td>pub term:</td>
<td>2023-04-22</td>
</tr>
<tr>
<td>profits to:</td>
<td><a href="https://www.givewell.org/">GiveWell</a></td>
</tr>
</table>


<h2>Vietnamese</h2>
<table>
<tr>
<td>book:</td>
<td><a href="/a">Anything You Want</a></td>
</tr>
<tr>
<td>publisher:</td>
<td>Viet Nam AZ Communication &amp; Culture</td>
</tr>
<tr>
<td>validity:</td>
<td>2023-03-20</td>
</tr>
<tr>
<td>note:</td>
<td>via <a href="https://www.penguinrandomhouse.com/">Penguin</a></td>
</tr>
</table>

