<section id="about">
<h2>me in 10 seconds</h2>
<p>
I’ve been a 
<a href="/music">musician</a>,
<a href="https://professionalpests.com/">circus performer</a>,
<a href="/a">entrepreneur</a>, and 
<a href="/presentations">speaker</a>.
</p><p>
I’m a
<a href="/slow">slow thinker</a>,
<a href="/joke">explorer</a>,
<a href="https://en.wikipedia.org/wiki/Xenophilia">xenophile</a>,
and love a <a href="/u">different point of view</a>.
</p><p>
California native, I now <a href="/local">live</a> in New Zealand.
</p>

<h2><a href="/about">Me in 10 minutes</a>?</h2>
<p>See <a href="/about">my “/about” page</a>.</p>

<h2><a href="/now">What am I doing now</a>?</h2>
<p>See <a href="/now">my “/now” page</a>.</p>

<h2><a href="/contact">Contact me</a></h2>
<p>I love meeting people, and I reply to every email, so <a href="/contact">say hello</a>.</p>
</section>

<section id="mybooks">
<h2>my books</h2>
<a href="https://sivers.com/"><img src="/images/Sivers-hardcovers-2024.webp" alt="Derek Sivers hardcover books, stacked"></a>

<figure>
<a href="/u"><img width="150" height="240" src="/images/DerekSivers-cover-UsefulNotTrue-150x240.png" alt="Useful Not True book cover"></a>
<figcaption>
<h3><a href="/u">Useful Not True</a> <time>(2024)</time></h3>
<p>Doubt everything. No beliefs are true. Adopt what works for you now.</p>
</figcaption>
</figure>

<figure>
<a href="/h"><img width="150" height="240" src="/images/DerekSivers-cover-HowToLive-150x240.png" alt="How to Live book cover"></a>
<figcaption>
<h3><a href="/h">How to Live</a> <time>(2021)</time></h3>
<p>My masterpiece. Best thing I’ve ever made. My soul in a book.</p>
</figcaption>
</figure>

<figure>
<a href="/n"><img width="150" height="240" src="/images/DerekSivers-cover-HellYeahOrNo-150x240.png" alt="Hell Yeah or No book cover"></a>
<figcaption>
<h3><a href="/n">Hell Yeah or No</a> <time>(2020)</time></h3>
<p>Useful wisdom. Simple profound mental models to guide your decisions.</p>
</figcaption>
</figure>

<figure>
<a href="/m"><img width="150" height="240" src="/images/DerekSivers-cover-YourMusicAndPeople-150x240.png" alt="Your Music and People book cover"></a>
<figcaption>
<h3><a href="/m">Your Music and People</a> <time>(2020)</time></h3>
<p>Get your work to the world by being creative, considerate, resourceful, and connected.</p>
</figcaption>
</figure>

<figure>
<a href="/a"><img width="150" height="240" src="/images/DerekSivers-cover-AnythingYouWant-150x240.png" alt="Anything You Want book cover"></a>
<figcaption>
<h3><a href="/a">Anything You Want</a> <time>(2011 → 2022)</time></h3>
<p>40 lessons for a new kind of entrepreneur. My tales of starting, building, and selling CD Baby.</p>
</figcaption>
</figure>

<p>
See <a href="/fp">the foreign publishers</a> of my translated books.
</p>
</section>

<section id="projects">
<h2>projects</h2>
<dl>
<dt><a href="/met">Conversations in…</a></dt>
<dd>when I travel, I meet with people who have emailed me</dd>
<dt><a href="/ref">Books that reference me</a></dt>
<dd>excerpts from books that have written about me</dd>
<dt><a href="/ti">Tech Independence</a></dt>
<dd>step-by-step instructions to set up your own server and break dependency on the cloud</dd>
<dt><a href="/book">Book Notes</a></dt>
<dd>detailed notes from the last 430+ books I’ve read</dd>
<dt><a href="https://nownownow.com/">Now Now Now</a></dt>
<dd>a collection of sites that have a “what I’m doing now” page</dd>
<dt><a href="https://inchword.com/">Inchword</a></dt>
<dd>tools to help people translate books</dd>
<dt><a href="https://musicthoughts.com/">MusicThoughts</a></dt>
<dd>inspiring quotes about music, translated into Español, Français, Deutsch, Italiano, Português, Русский, العربية, 日本語, and 中文</dd>
</dl>
</section>

<section id="interviews">
<h2>interviews</h2>
<p>You can listen to over <a href="/i">250 interviews</a>, where I’m the guest.</p>
<p>Each one has audio, sometimes video, and a full transcript.</p>
</section>

<section id="photos">
<h2>photos</h2>
<a href="/images/DerekSivers-20141119-1450.jpg"><img width="100" height="100" src="/images/DerekSivers-20141119-100.jpg" alt="Derek Sivers" title="© 2014 Derek Sivers"/></a>
<a href="/images/DerekSivers-20141209a-1853.jpg"><img width="100" height="100" src="/images/DerekSivers-20141209a-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
<a href="/images/DerekSivers-20141209b-2333.jpg"><img width="100" height="100" src="/images/DerekSivers-20141209b-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
<a href="/images/DerekSivers-20141209c-1556.jpg"><img width="100" height="100" src="/images/DerekSivers-20141209c-100.jpg" alt="Derek Sivers" title="© 2014 Pat Shepherd - patshepherd.co.nz" /></a>
</section>

<section id="socials">
<h2><a href="/socials">social</a>?</h2>
<ul><li>
<a href="https://x.com/sivers">x.com/sivers</a>
</li><li>
<a href="https://sive.rs/d">Fediverse @d@sive.rs</a>
</li><li>
<a href="https://bsky.app/profile/sive.rs">Bluesky @sive.rs</a>
</li><li>
<a href="https://t.me/dereksivers">Telegram @dereksivers</a>
</li><li>
<a href="https://www.dereksivers.org/">Substack dereksivers.org</a>
</li><li>
<a href="https://www.youtube.com/@dereksivers/posts">youtube.com/@dereksivers</a>
</li><li>
<a href="https://www.tiktok.com/@dereksivers">tiktok.com/@dereksivers</a>
</li><li>
<a href="https://www.facebook.com/sivers">facebook.com/sivers</a>
</li><li>
<a href="https://www.instagram.com/dereksivers/">instagram.com/dereksivers</a>
</li></ul>
</section>

<section id="articles">
<h2>articles</h2>
<ul>
{{#articles}}
<li>
<time datetime="{{ymd}}">{{ymd}}</time>
<a href="/{{uri}}">{{title}}</a>
</li>
{{/articles}}
</ul>
</section>

<section id="tweets">
<h2>tweets</h2>
<ul>
{{#tweets}}
<li>
<time datetime="{{ymd}}">{{ymd}}</time>
{{tweet}}
</li>
{{/tweets}}
</ul>
</section>

<section id="books">
<h2>book notes</h2>
<ul>
{{#books}}
<li>
<time datetime="{{ymd}}">{{ymd}}</time>
<a href="/book/{{uri}}">{{title}}</a>
</li>
{{/books}}
</ul>
</section>

