<header>
<h1><a href="/presentations">presentations</a> → {{title}}</h1>
<p>length: {{minutes}} minutes.</p>
<p>month recorded: {{month}}</p>
</header>
{{{description}}}

{{#mp3s}}
<h2>listen:</h2>
{{#mp3s}}
<audio controls preload="metadata" src="https://m.sive.rs/{{filename}}" type="audio/mpeg"></audio>
{{/mp3s}}
{{/mp3s}}

{{#mp4s}}
<h2>watch:</h2>
{{#mp4s}}
<video controls preload="metadata" src="https://m.sive.rs/{{filename}}" type="video/mp4"></video>
{{/mp4s}}
{{/mp4s}}

{{#transcript}}
<h2>transcript:</h2>
{{{transcript}}}
{{/transcript}}

