<h1>Thank you!</h1>
<p id="msg">
You’re so cool.
</p>
<script>
var msg = {
	list: 'I updated your email list settings.</p><p>Your info is private and will never be sold to anyone else, ever.</p><p>Of course you can email me anytime at <a href="mailto:derek@sivers.org">derek@sivers.org</a>',
	listnew: 'Check your inbox now for an email from <strong>derek@sivers.org</strong> with the subject “<strong>reply for my private list</strong>”.</p><p>You <strong>need</strong> to reply to that to get on my private email list.</p><p>Or just email me at <a href="mailto:derek@sivers.org">derek@sivers.org</a> and ask to get on my list.',
	reset: 'Check your inbox now for an email from <strong>derek@sivers.org</strong> with the subject “<strong>your password reset link</strong>”.</p><p>If you don’t get it in a minute or two, please email me to let me know.',
	where: 'I’ll let you know if I’m coming your way.',
	done: 'All done.'
};
var m = /\?for=([a-z0-9]+)/.exec(location.search);
if(m && msg[m[1]]) {
	document.getElementById('msg').innerHTML = msg[m[1]];
}
</script>
