<h1>
	What I use:
</h1>
<p>
	<a href="/contact">Email me with any suggestions for improvements</a>.
	Last update: 2026-03-39
</p>

<h2>hardware</h2>
<ul>
<li><a href="https://silentpc.com/fanless-pcs/streacom-fc8-ultra">Silent PC</a> I got in 2013, still working great</li>
<li><a href="https://www.lg.com/au/monitors/full-hd-qhd/28mq780-b/">LG DualUp vertical monitor</a> ♥</li>
<li><a href="https://www.keychron.com/products/keychron-q3-qmk-custom-mechanical-keyboard">Keychron Q3</a> keyboard with <a href="https://www.kailh.net/products/kailh-midnight-pro-silent-switch-set">Kailh Midnight Pro silent switches</a> ♥</li>
<li><a href="https://www.boox.com.hk/en/products/6-go-6">Onyx Boox Go 6</a> ebook reader</li>
<li><a href="https://studiobricks.com/music-recording-booths/one-booths/">Studiobricks One Plus</a> sound-proof recording booth ♥</li>
<li><a href="https://www.audio-technica.com/en-us/at5040">AT5040 microphone</a></li>
<li><a href="https://www.apple.com/macbook-air/">Macbook Air M2</a> for recording and travel</li>
<li><a href="https://www.focal.com/products/bathys">Focal Bathys</a> headphones</li>
<li><a href="https://www.dpreview.com/reviews/panasonic-lumix-dc-gh5">Panasonic GH-5 camera</a> now only for video interviews</li>
<li><a href="https://www.kensington.com/p/products/electronic-control-solutions/trackball-products/expert-mouse-wired-trackball3-1/">Kensington Expert Mouse</a> since 1995</li>
<li><a href="https://en.wikipedia.org/wiki/Pixel_10">Pixel 10</a> phone running <a href="https://grapheneos.org/">GrapheneOS</a></li>
<li><a href="https://www.industrialathletic.com/">Industrial Athletic</a> squat rack, barbell, plates, and bench, right next to my PC so a few times per day I stop and do 5 reps, AKA “<a href="https://stronglifts.com/5x5/">5×5</a>”</li>
<li><a href="https://surlybikes.com/collections/preamble">Surly Preamble</a> bicycle, <a href="https://www.converted.co.nz/">modded</a> electric</li>
<li><a href="https://en.wikipedia.org/wiki/Nissan_Leaf">Nissan Leaf</a> car</li>
</ul>

<h2>software</h2>
<ul>
<li><a href="https://www.vim.org/">Vim</a> text editor, all day every day</li>
<li><a href="https://www.postgresql.org/">PostgreSQL</a> database is the center of everything</li>
<li><a href="https://go.dev/">Go</a> and <a href="https://www.ruby-lang.org/">Ruby</a> programming languages</li>
<li><a href="https://sinatrarb.com/">Sinatra</a> web DSL</li>
<li><a href="https://www.openbsd.org/">OpenBSD</a> on my server</li>
<li><a href="https://www.debian.org/">Debian</a> on my desktop</li>
<li><a href="https://www.nongnu.org/ratpoison/">Ratpoison</a> wm</li>
<li><a href="https://nginx.org/">Nginx</a> web server</li>
<li><a href="https://www.opensmtpd.org/">OpenSMTPD</a> email server</li>
<li><a href="https://radicale.org/v3.html">Radicale</a> to privately self-host my contacts and calendar, synced to my phone</li>
<li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> browser with <a href="https://ublockorigin.com/">uBlock Origin</a> and <a href="https://lydell.github.io/LinkHints/">Link Hints</a></li>
<li>Everything but Firefox and Calibre in the terminal, so command-line tools like <a href="http://www.mutt.org/">mutt</a> for email, <a href="https://beancount.github.io/">Beancount</a> for accounting, <a href="http://sox.sourceforge.net/">sox</a> <a href="https://ffmpeg.org/">ffmpeg</a> and <a href="https://mpv.io/">mpv</a> for audio/video, <a href="https://mupdf.com/">mupdf</a> for ebooks, and <a href="https://www.openssh.com/">ssh</a> everywhere.</li>
<li><a href="https://skritter.com/">Skritter</a> and <a href="https://wenlin.com/">Wenlin</a> for learning Chinese.</li>
</ul>

<h2>services</h2>
<ul>
<li><a href="https://www.vultr.com/products/cloud-compute/">Vultr</a> basic $10/month public server</li>
<li><a href="https://www.sendamatic.net/">Sendamatic</a> for outgoing email</li>
<li><a href="https://bunny.net/">Bunny</a> for DNS and media CDN</li>
<li><a href="https://www.netim.com/">Netim</a> domain registrar</li>
<li><a href="https://kagi.com/">Kagi</a> for ad-free spam-free search</li>
<li><a href="https://www.wikipedia.org/">Wikipedia</a> for curiosity</li>
<li><a href="https://news.ycombinator.com/">Hacker News</a> for random inputs</li>
</ul>

