<h1>Your profile Q &amp; A</h1>

<style>
dt { font-weight: bold; margin-top: 2em }
</style>
<dl>
{{#qas}}
<dt>{{question}}</dt>
<dd>{{answer}}</dd>
<dd><a href="/profile?edit1={{code}}">edit</a></dd>
{{/qas}}
</dl>

<h2>Your URL: <a href="https://nownownow.com/p/{{public_id}}">nownownow.com/p/{{public_id}}</a></h2>

<p>
It’s a <strong>static website, updated nightly</strong>, so changes will appear <strong>tomorrow</strong>.
</p><p>
You can <a href="/z">log out</a> now, or <a href="/check">help check</a>.
</p>

