<header>
<h1><a href="/about">/now pages</a> in {{placename}}</h1>
</header>
<main>

{{#profiles1}}
<ul class="photos">
{{#profiles1}}
<li>
<a href="/p/{{public_id}}"><img src="https://m.nownownow.com/{{public_id}}.webp" width="300" height="300" alt="{{name}}" loading="lazy"></a>
<h2><a href="/p/{{public_id}}">{{name}}</a></h2>
{{#pages}}
<h3><a href="{{long}}">{{short}}</a></h3>
{{/pages}}
<p>{{title}}</p>
</li>
{{/profiles1}}
</ul>
{{/profiles1}}

{{#profiles2}}
<hr>
(missing profile questions:)
<ul class="photos">
{{#profiles2}}
<li>
<a href="/p/{{public_id}}"><img src="https://m.nownownow.com/{{public_id}}.webp" width="300" height="300" alt="{{name}}" loading="lazy"></a>
<h2>{{name}}</h2>
{{#pages}}
<h3><a href="{{long}}">{{short}}</a></h3>
{{/pages}}
</li>
{{/profiles2}}
</ul>
{{/profiles2}}

{{#profiles3}}
<hr>
(missing photo:)
<ul class="nophotos">
{{#profiles3}}
<li>
<h2>{{name}}</h2>
<p>{{title}}</p>
{{#pages}}
<h3><a href="{{long}}">{{short}}</a></h3>
{{/pages}}
</li>
{{/profiles3}}
</ul>
{{/profiles3}}

{{#profiles4}}
<hr>
(missing photo and profile questions:)
<ul class="nophotos">
{{#profiles4}}
<li>
<h2>{{name}}</h2>
{{#pages}}
<h3><a href="{{long}}">{{short}}</a></h3>
{{/pages}}
</li>
{{/profiles4}}
</ul>
{{/profiles4}}

</main>
<footer>
Last update: <time datetime="{{date}}">{{date}}</time>
</footer>

