<h1>help check?</h1>
<style>
ol li { margin: 1.5em 0 }
</style>
<p>
<a href="https://nownownow.com/">nownownow.com</a> has some dead links, and some pages that haven’t been updated in years.
</p><p>
Please help (using <a href="/check/next">this tool</a>) like this:
</p><ol><li>
visit a site to <strong>look for a date</strong> when it was last updated
</li><li>
<strong>copy that text</strong> from their site (“as of July 2025”) and paste it into the form here, so an automated script can look for that text in the future
</li><li>
select the <strong>last-updated date</strong>, so <a href="https://nownownow.com/">nownownow.com</a> can sort by date
</li><li>
click to say if the site is <strong>gone</strong>, or it’s very <strong>old</strong>, or <strong>no date</strong> is shown, or all is well
</li></ol>
<p>
<a href="/check/next">The tool</a> will always show you the next site due for checking, but you can always stop any time.
</p><p><strong>
Thank you!
</strong></p>
<h2><a href="/check/next">Click here to begin</a>.</h2>

