<h1><a href="{{long}}" target="now" rel="noopener noreferrer">{{long}}</a></h1>

<style>
h2 { margin-top: 2em; }
hr { margin-bottom: 8em; }
label { margin-top: -0.5em; display: block; }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
section#actions { animation: fadeIn 3000ms; }
</style>

<form action="/check/{{id}}" method="post">
<h2>Did you find a "last updated" date?</h2>
<label for="updated_at">If it's not exactly on <strong>{{updated_at}}</strong>, feel free to choose another date (estimates are fine):</label>
<input type="date" id="updated_at" name="updated_at" value="{{updated_at}}" min="{{updated_at}}" max="{{today}}">

<h2>What was the "last updated" text? (e.g., "As of October 16th, 2025")</h2>
<label for="look4">Copy the exact text from their site and paste it here:</label>
<input id="look4" name="look4" value="{{look4}}" autocomplete="off">

<h2>Did the URL change?</h2>
<label for="long">If the URL is different from before, please copy and paste the full current URL here:</label>
<input id="long" name="long" autocomplete="off">

<input type="submit" value="Save Changes">
</form>

<hr>

<section id="actions">
<h3>Everything <a href="/check" target="_blank">looks good</a>?</h3>
<form action="/check/{{id}}/good" method="post"><input type="submit" value="Yes, everything looks good to me"></form>

<h3>No "last updated" date found?</h3>
<form action="/check/{{id}}/nodate" method="post"><input type="submit" value="Flag the page as having no date"></form>

<h3>Found a date, but it's very old?</h3>
<form action="/check/{{id}}/old" method="post"><input type="submit" value="Flag the page as out of date and old"></form>

<h3>Page is gone or isn't a /now page?</h3>
<form action="/check/{{id}}/gone" method="post"><input type="submit" value="Flag the page as gone or not a now page"></form>
</section>
