<h1>help moderate our directory!</h1>
<style>ol li { margin: 1.5em 0 }</style>
<p><a href="https://nownownow.com/">nownownow.com</a> is a community-run directory of <em>/now</em> pages, which includes some older pages that haven't been updated in years.</p>
<p>If you have some spare time, please help us by using <a href="/check/next">our checking tool</a> and follow these steps:</p>
<ol>
<li>Visit a site and <strong>find the date</strong> when it was last updated.</li>
<li><strong>Copy that date text</strong> (for example, "as of july 2025") from the site and paste it into the form on the moderation page, so our automated system can recognize it in the future</li>
<li>Select the <strong>last-updated date</strong> so that <a href="https://nownownow.com/">nownownow.com</a> can sort pages by their latest update</li>
<li>Choose whether the site is <strong>gone</strong>, <strong>very old</strong>, <strong>no date shown</strong>, or if <strong>everything looks good</strong></li>
</ol>
<p><a href="/check/next">The tool</a> will always show you the next site to check, and you can stop at any time.</p>
<p><strong>Thank you for your help!</strong></p>
<h2><a href="/check/next">Click here to get started</a>.</h2>
